{% extends 'admin/adminheader.html.twig' %}
{% use "admin/menu.html.twig" %}
{% block content %}
    <div id="wrapper" class="fondo">
        <div id="container">
            <h3>Inventario Cargado</h3>
            <hr>
            <div class="bloque">
                <div class="subtitulo">Se ha realizado la carga del inventario y se encuentra disponible para ser asignado.</div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

